<header>
  <h1>Comments feed</h1>
</header>

<section>
  <ul class="comments-list">
	 <% @comments.each do |comment| %>
	 <li>
		<span class="pull-right"><strong><%= comment.created_at.to_formatted_s(:long) %></strong></span>
		<h3><%= comment.author.name %> (<%= comment.author.uvanetid %>) on <%= comment.student.name %></h3>
		<p><%= comment.body %></p>

		<a href="<%= url_for new_student_comment_path(comment.student) %>" class="btn btn-default">
		  <span class="glyphicon glyphicon-pencil"></span> Add comment
		</a>
		<a href="<%= url_for student_path(comment.student) %>" class="btn btn-default">
		  <span class="glyphicon glyphicon-list"></span> All comments
		</a>
	 </li>
	 <% end %>
  </ul>
</section>
