<div data-role="header">
  <a href="<%= link_to_period(@timeslot.previous) %>" data-role="button" data-icon="arrow-l">Next</a>
  <h1><%= @timeslot.hour_s %> <%= @timeslot.date_s %></h1>
  <a href="<%= link_to_period(@timeslot.next) %>" data-role="button" data-icon="arrow-r">Next</a>
</div>

<ul data-role="listview" data-filter="true">
  <% @students.each do |student| %>
  <li class="student-entry">
	 <%= student.name %> (<%= student.student_id %>)
	 <fieldset class="attendance-indicator" data-role="controlgroup" data-type="horizontal">
		<label>Attending
		  <input type="checkbox" class="attendance-toggle"
					data-student-id="<%= student.id %>"
					data-start-time="<%= @timeslot.start_time %>"
					data-end-time="<%= @timeslot.end_time %>"
					<% unless student.record_at(@timeslot).nil? %>checked<% end %>>
		</label>
	 </fieldset>
  </li>
  <% end %>
</ul>
