<nav class="navbar navbar-inverse navbar-static-top">
  <div class="nav navbar-nav navbar-left">

    <a class="btn btn-primary navbar-btn" href="<%= link_to_period(@timeslot.previous) %>">
      <span class="glyphicon glyphicon-backward"></span>
    </a>

    <div class="navbar-brand">
      <span class="only-large-screens">
        <%= format_hour @timeslot %> <%= format_date_long @timeslot %>
      </span>
      <span class="only-small-screens">
        <%= format_hour @timeslot %> <%= format_date_short @timeslot %>
      </span>
    </div>
    
    <a class="btn btn-primary navbar-btn" href="<%= link_to_period(@timeslot.next) %>">
      <span class="glyphicon glyphicon-forward"></span>
    </a>
    
  </div>
  
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input class="form-control" id="filter">
    </div>
  </form>

    
</nav>
  
<% if flash[:notice] %>
<section class="ui-bar ui-bar-b"><%= flash[:notice] %></section>
<% end %>
  
<script>
$('#filter').keyup(
  function()
  {
    if(this.value == '')
    {
      $("#student_list li").show();
    }
    else
    {
      $("#student_list li").hide();
      $("#student_list li[id*='"+this.value+"']").show();
    }
  }
);

function toggle(student, value)
{
  $.post('/attendance', {
    student_id: student,
    attending: value,
    start_time: '<%= @timeslot.start_time %>',
    end_time: '<%= @timeslot.end_time %>'
  });
}

</script>

<ul id="student_list" class="list-group">
  <% @students.each do |student| %>
  <li class="list-group-item" id="<%= student_to_tag(student) %>">

    <div class="pull-right">
      
      <div class="btn-group" data-toggle="buttons">
        <label class="btn <%= 'active' if not student.record_at(@timeslot).nil? %> btn-default" onclick="toggle(<%= student.id %>, true);">
          <%= radio_button_tag student_to_tag(student), 'att', !student.record_at(@timeslot).nil? %> Attending
        </label>
        <label class="btn <%= 'active' if student.record_at(@timeslot).nil? %> btn-default" onclick="toggle(<%= student.id %>, false);">
          <%= radio_button_tag student_to_tag(student), 'not', student.record_at(@timeslot).nil? %> Not
        </label>
      </div>
      
      <a href="<%= url_for new_student_comment_path(student) %>" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a href="<%= url_for student_path(student) %>" class="btn btn-default">
        <span class="glyphicon glyphicon-list"></span>
      </a>
    </div>

    <h4 class="list-group-item-heading"><%= student.name %></h4>
    <p class="list-group-item-text"><%= student.student_id %></p>

  </li>
  <% end %>
</ul>
