<section data-role="page" data-url="<%= request.path %>">

  <% if flash[:notice] %>
  <section class="ui-bar ui-bar-b"><%= flash[:notice] %></section>
  <% end %>

  <header data-role="header">
	 <a href="<%= link_to_period(@timeslot.previous) %>"
		 data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>

	 <h1>
		<span class="only-large-screens">
		  <%= format_hour @timeslot %> <%= format_date_long @timeslot %>
		</span>
		<span class="only-small-screens">
		  <%= format_hour @timeslot %> <%= format_date_short @timeslot %>
		</span>
	 </h1>

	 <a href="<%= link_to_period(@timeslot.next) %>"
		 data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
  </header>

  <section data-role="content">
	 <ul data-role="listview" data-filter="true" data-inset="true">
		<% @students.each do |student| %>
		<li class="student-entry" data-filtertext="<%= student.id %> <%= student.name %>">
		  <div class="ui-grid-a attendance-list-breakpoint">
			 <div class="ui-block-a"><%= student.name %> (<%= student.student_id %>)</div>
			 <div class="ui-block-b attendance-indicator">
				<fieldset data-mini="true" data-role="controlgroup" data-type="horizontal">
				  <label>Attending
					 <input type="checkbox" class="attendance-toggle"
							  data-inline="true"
							  data-student-id="<%= student.id %>"
							  data-start-time="<%= @timeslot.start_time %>"
							  data-end-time="<%= @timeslot.end_time %>"
							  <% unless student.records.length == 0 %>checked<% end %>>
				  </label>
				</fieldset>
				<fieldset data-mini="true" data-role="controlgroup" data-type="horizontal">
				  <a href="<%= url_for new_student_comment_path(student) %>"
					  data-role="button"
					  data-inline="true"
					  data-rel="dialog"
					  >Add Comment</a>
				  <a href="<%= url_for student_path(student) %>" data-role="button" data-icon="bars" data-iconpos="notext"></a>
				</fieldset>
			 </div>
		  </div>
		</li>
		<% end %>
	 </ul>
  </section>
</section>
