<h1>Overview per week</h1>

<% @timeslots_per_week.each do |week, records_per_timeslot| %>

<h2>Week <%= week %></h2>

<% canvas_id = "canvas-" + week.to_s %>
<div id="<%= canvas_id %>"></div>
<script>
  var attendance_data = {
  <% records_per_timeslot.each do |timeslot, records| %>
  "<%= timeslot.start_time.strftime('%a ') + format_hours(timeslot, separator='-')  %>": <%= records %>,
  <% end %>
  };
  draw_bar_chart_on("#<%= canvas_id %>", attendance_data);
</script>
<% end %>
